.conference
  padding-top: 160px
  padding-bottom: 160px
  overflow: hidden
  &__btn
    margin-top: 3.5rem
    &-blue
      margin-left: 20px
.swiper-container 
  width: 100%
  height: 624px
  &__First
    position: relative
    background: url(../img/conference.jpg) no-repeat center/cover
  &__Second
    position: absolute
    top: 360px
    height: 200px
    width: 500px
    right: 30px

.swiper-slide 
  text-align: center
  font-size: 18px
  display: flex
  justify-content: center
  align-items: center

.swiper-slideSecond
  background: url(../img/conference2.jpg) no-repeat center/cover
.swiper-slideThird
  background: url(../img/conference3.jpg) no-repeat center/cover
.swiper-slideFourth
  background: url(../img/conference4.jpg) no-repeat center/cover

.slide
  display: flex
  justify-content: space-between
  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,.2)
    z-index: -2
.info
  font-style: normal
  color: #FFFFFF
  display: block
  text-align: left
  margin-top: -6rem
  line-height: 50px
  transition: all 0.4s ease-in-out
  &__equipment
    font-weight: 500
    font-size: 18px
    letter-spacing: 0.2px
  &__title
    font-weight: 600
    font-size: 52px
    letter-spacing: 0.9px
    margin-left: -3.1px
  &__text
    width: 555px
    font-weight: 500
    font-size: 16px
    line-height: 148%
    color: rgba(255, 255, 255, 0.8)
    padding-top: 1.8rem
    letter-spacing: 0.2px
.swiper-button-next
  top: 73.4%
  left: 77.2%
  background: #397DFF
  background-image: url(../img/next.svg)
  background-repeat: no-repeat
  background-position: center
  width: 32px
  height: 32px
  border-radius: 50%
  &::after
    content: ''
  &:hover
    background: #397DFF
    transform: matrix(1, 0, 0, 1, 0, 0)
    background-image: url(../img/next.svg)
    background-repeat: no-repeat
    background-position: center
.swiper-button-prev
  top: 73.4%
  left: 73.2%
  background: #397DFF
  transform: matrix(-1, 0, 0, 1, 0, 0)
  background-image: url(../img/next.svg)
  background-repeat: no-repeat
  background-position: center center
  width: 32px
  height: 32px
  border-radius: 50%
  transition: all 0.4s ease-in-out
  &::after
    content: ''
  &:hover
    background: #397DFF
    transform: matrix(-1, 0, 0, 1, 0, 0)
    background-image: url(../img/next.svg)
    background-repeat: no-repeat
    background-position: center
.number
  font-style: normal
  margin-top: -10px
  margin-right: -159px
 
  display: flex
  flex-direction: column
  align-items: flex-start
  position: relative
  &__order
    font-weight: bold
    font-size: 64px
    line-height: 78px
    letter-spacing: 0.02em
    color: #397DFF
  &__text
    font-weight: normal
    font-size: 14px
    line-height: 160%
    color: rgba(255, 255, 255, 0.7)
    width: 282px
    text-align: left
  &::after
    position: absolute
    content: ''
    display: block
    width: 205px
    height: 0px
    border: 1px solid rgba(255, 255, 255, 0.1)
    transform: rotate(90deg)
    right: -141px
    top: 104px
